[submodule "dot_config/nvim"]
	path = dot_config/nvim
	url = git@github.com:crcrworks/dotfiles-nvim.git
[submodule "dot_config/fish"]
	path = dot_config/fish
	url = git@github.com:crcrworks/dotfiles-fish.git
[submodule "dot_config/exact_nvim"]
	path = dot_config/exact_nvim
	url = git@github.com:crcrworks/dotfiles-nvim.git
[submodule "dot_config/exact_ghostty"]
	path = dot_config/exact_ghostty
	url = git@github.com:crcrworks/dotfiles-ghostty.git
[submodule "dot_config/exact_sketchybar"]
	path = dot_config/exact_sketchybar
	url = git@github.com:crcrworks/dotfiles-sketchybar.git
[submodule "dot_config/exact_yazi"]
	path = dot_config/exact_yazi
	url = git@github.com:crcrworks/dotfiles-yazi.git
[submodule "dot_config/exact_kitty"]
	path = dot_config/exact_kitty
	url = git@github.com:crcrworks/dotfiles-kitty.git
